<!DOCTYPE html>
<html>

<head>
  <script src="/static/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="/static/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap-dropdown.js"></script><!--dropdown addon-->
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/scripts/flot/jquery.flot.js" type="text/javascript"></script>


{% block headbody %}

{% endblock %}

</script>

</head>

<body>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大数据价格行政执法智能辅助决策系统</title>
  <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link type="text/css" href="/static/css/theme.css" rel="stylesheet">
  <link type="text/css" href="/static/images/icons/css/font-awesome.css" rel="stylesheet">
  <link type="text/css" href="/static/css/family.css" rel="stylesheet">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse"> <i class="icon-reorder shaded"></i> </a>
        <a class="brand" href="../welcome"> 大数据价格行政执法智能辅助决策系统 </a>
        <!-- /.nav-collapse -->
      </div>
    </div>
    <!-- /navbar-inner -->
  </div>
  <!-- /navbar -->
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="sidebar">
            <ul class="widget widget-menu unstyled">
              <li class="active">
                <a href="../welcome"> <i class="menu-icon icon-dashboard"></i> 主页 </a>
              </li>
              <li>
                <a href="../lawAnalysis"> <i class="menu-icon icon-tasks"></i> 证据分析</a>
              </li>
            </ul>
          </div>
          <!--/.sidebar-->
        </div>
        {% block mainbody %}
       		<p>original</p>
    	{% endblock %}
        <!--/.span9-->
      </div>
    </div>
    <!--/.container-->
  </div>
</body>

</html>
