{% extends "base2.html" %}

{% block mainbody %}

<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>结果</h3>
              </div>
              <div class="module-body">
                <p> {{content}} </p>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>

{% endblock %}
