{% extends "base2.html" %}

{% block headbody %}
<script type="text/javascript">

function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {alert(alerttxt);return false}
  else {return true}
  }
}

function validate_form (thisform)
{
with (thisform)
  {
  if (validate_required(caseText,"案例文本不能为空")==false)
    {caseText.focus();return false}
  if (validate_required(caseNum,"返回的相关案例条数")==false)
    {caseNum.focus();return false}
  if (isNaN(Number(caseNum.value)))
    {caseNum.focus();
     alert("案例条数必须为数字");return false}
  }
}
</script>
{% endblock %}


{% block mainbody %}

<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>相关案例分析</h3>
              </div>
              <div class="module-body">
		<blockquote>
		  <p>在案例文本框中输入想要查询的案例，然后输入想要返回的相关案例条数，最后选择所使用的算法。算法1使用tfidf算法计算每一个词的重要性从而算出文本的关键词，再根据关键词进行文本的相似度计算
算法2使用Latent Dirichlet Allocation算法为每个文本生成主题，再根据文本主题的相似度来衡量文本相似度
算法3使用Latent Semantic Analysis算法，通过进行SVD分解捕获单词间的相关性，再根据相关性来计算文本间相似度。</p>
		</blockquote>
                <form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/caseAnalysis" onsubmit="return validate_form(this)" method="post">
		<div class="control-group"> <label class="control-label" for="basicinput" >案例文本</label>
			    <div class="controls">
			      <textarea  rows="20" class="span8" name="caseText"></textarea>{{ caseText }}</div>
			    </div>
		<div class="control-group"> <label class="control-label" for="basicinput">返回的相关案例条数</label>
				    <div class="controls">
				      <input type="text" id="basicinput" placeholder="不能为空" class="span8" name="caseNum">{{ caseNum }} <span class="help-inline"></span> </div>
                  </div>
		<div class="control-group"> <label class="control-label" for="basicinput">分析算法</label>
                    <div class="controls">

                      <select name="algorithmType">
			  <option value="1">TF-IDF</option>
			  <option value="2">LDA</option>
			  <option value="3">LSA</option>
			</select>
                        </ul>
                    </div>
                  </div>
		<div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">开始分析</button>
                    </div>
                  </div>
	        </form>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>

{% endblock %}
