{% extends "base2.html" %}

{% block mainbody %}

<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>相关案例分析结果</h3>
              </div>
              <div class="module-body">
                <table class="table table-striped">
		  <tbody>
                    {% for contact in contacts %}
		    <tr class="text-center">
		      <td align="center"><a href={{contact.url}}>{{contact.title}}</a></td>
		    </tr>
                    {% endfor %}
		  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>

{% endblock %}
