{% extends "base2.html" %}

{% block headbody %}
<script type="text/javascript">

function validate_required(field,alerttxt)
{
	with (field)
	{
		if (value==null||value=="")
		{alert(alerttxt);return false}
		else {return true}
	}
}

function validate_form (thisform)
{
	with (thisform)
	{
		if (validate_required(caseText,"案例文本不能为空")==false)
		{caseText.focus();return false}
		if (validate_required(caseNum,"返回的相关案例条数")==false)
		{caseNum.focus();return false}
		if (isNaN(Number(caseNum.value)))
		{caseNum.focus();
			alert("案例条数必须为数字");return false}
	}
}
</script>
{% endblock %}


{% block mainbody %}

<div class="span9">
<div class="content">
<div class="module">
<div class="module-head">
<h3>专业词库上传</h3>
</div>
<div class="module-body">
<blockquote>
<p>
词典格式:一个词占一行；每一行分三部分：词语、词频（可省略）、词性（可省略），用空格隔开，顺序不可颠倒。文件必须为 UTF-8 编码的txt文件。词性：n表示名词；a表示形容词，d表示副词，v表示动词等
</p>
<p>
例子： <br />
大数据 3 n<br />
云计算 5<br />
中国<br />

</p>
</blockquote>

<form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/dictUpload" onsubmit="return validate_form(this)" method="post">

<div class="control-group">
<div class="control-group"> <label class="control-label" for="basicinput">专业词库上传</label>
                    <div class="controls">
                      <input type="file" id="ciku" style="display:none" name="ciku">
                      <div class="input-append">
                        <input id="photoCover1" class="input-large" type="text" placeholder="上传txt文件(utf-8格式)" style="height:20px;">
                        <a class="btn" onclick="$('input[id=ciku]').click();">Browse</a> <span class="help-inline"></span> </div>
                      <script type="text/javascript">
                        $('input[id=ciku]').change(function() {  
                        $('#photoCover1').val($(this).val());  
                        });
                      </script>
  </div>
</div>
</div>

<div class = "control-group">
<div class="controls">
<button type="submit" class="btn">开始上传</button>
</div>
</div>
</form>

<div>
<p></p>
</div>

<div>
<table id="dg" title="专业词库列表" class="easyui-datagrid" style="width:100%;height:600px;"
            url="/read/"
            toolbar="#toolbar" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="word" width="50">关键词</th>
                <th field="num" width="50">权重</th>
                <th field="prep" width="50">词性</th>
            </tr>
        </thead>
</table>
</div>
<div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newLexicon()">新增专业名词</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editLexicon()">编辑名词</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyLexicon()">删除专业名词</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px"closed="true" buttons="#dlg-buttons">
<form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
<div>
            <div style="margin-bottom:20px;font-size:20px;border-bottom:1px solid #ccc"></div> 
            <div style="margin-bottom:10px">
                <input name="lexicon_word" class="easyui-textbox" required="true" label="专业名词:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="lexicon_num" class="easyui-textbox" required="true" label="权重:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="lexicon_prep" class="easyui-textbox" required="true" label="词性:" style="width:100%">
            </div>
</form>
</div>

<div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveLexicon()" style="width:90px ">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px" >取消</a>
</div>

    <script type="text/javascript">
        var url;
        //显示编辑框
        function newLexicon(){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增专业名词');
        $('#fm').form('clear');
        url = '/start/';
        }
        //编辑新闻
        function editLexicon(){
        var row = $('#dg').datagrid('getSelected');
        console.log(row);
        if (row){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑专业名词');
            $('#fm').form('load',row);
            //  ajax 编辑News 并且 通过ajax 保存到后端 SQL
            url = '/edit/'+row.id;
        }
        }
        // 保存新闻
        function saveLexicon(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if (result=="save"){
                   $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');
                }else
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the News data
                }
            }
        });
        }


        //删除新闻
        function destroyLexicon(){
        var row = $('#dg').datagrid('getSelected');
        console.log(row);
        if (row){
            $.messager.confirm('再次确认','你确定要删除这条专业名词？',function(r){
                if (r){
                    $.ajax({
                        url: '/remove/',
                        type: 'POST',
                        data: {'id':row.id},
                        success: function(data) {
                            if (data=="REMOVE"){
                                $('#dg').datagrid('reload');
                            }
                        },
                        error: function(data) {alert("error")}
                    });
                }
            });
        }
        }
       </script>



</div>
</div>
</div>
<!--/.content-->
</div>

{% endblock %}
