{% extends "base.html" %}
{% block mainbody %}
<!--/.span3-->
        <div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h2>{{title}}</h2>
                <p> 来源: {{url}} </p>
		<p> {{content}}</p>          
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
