{% extends "base.html" %}

{% block headbody %}
<script type="text/javascript">
function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {alert(alerttxt);return false}
  else {return true}
  }
}

function validate_form (thisform)
{
with (thisform)
  {
  if (validate_required(sites,"爬取网址不能为空")==false)
    {sites.focus();return false}
  if (validate_required(keywords1,"关键词至少要有1个")==false)
    {keywords1.focus();return false}
  }
  if (validate_required(class_,"id不能为空")==false)
    {keywords1.focus();return false}
  }
}
</script>

{% endblock %}

{% block mainbody %}
<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>自动构建价格执法知识库</h3>
              </div>
              <div class="module-body">
                <br>
		<blockquote>
		  <p>备注：在网址栏输入爬虫的出发链接，输入1到3个关键词作为爬虫的筛选条件，然后选择对应的网页结构筛选爬取网页的链接，最后选择对应的知识库对爬取到的信息进行存储</p>
		</blockquote>
                <form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/add_setting" onsubmit="return validate_form(this)" method="post">
                  <div class="control-group"> <label class="control-label" for="basicinput">网址</label>
                    <div class="controls">
                      <input type="text" id="basicinput" name="sites" placeholder="输入网址链接，如：http://www.gddrc.gov.cn/zwgk/zdlyxxgkzl/jgzf/pgpt/" class="span8"> <span class="help-inline"></span> </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">关键词1</label>
                    <div class="controls">
                      <input type="text" id="keyWords1" placeholder="不能为空" class="span8" name="keywords1"> </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">关键词2</label>
                    <div class="controls">
                      <input type="text" placeholder="可选" class="span8" id="keyWords2" name="keywords2"> <span class="help-inline"></span> </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">关键词3</label>
                    <div class="controls">
                      <input type="text" class="span8" id="keyWords23" placeholder="可选" name="keywords3"> <span class="help-inline"></span> </div>
                  </div>
	          <div class="control-group"> <label class="control-label" for="basicinput">文本class属性</label>
                    <div class="controls">
                      <input type="text" class="span8" id="keyWords23" placeholder="可选" name="class_"> <span class="help-inline"></span> </div>
                  </div>
                <div class="control-group"> <label class="control-label" for="basicinput">文本id属性</label>
                    <div class="controls">
                      <input type="text" class="span8" id="keyWords23" placeholder="必填" name="id_"> <span class="help-inline"></span> </div>
                  </div>
		<div class="control-group"> <label class="control-label" for="basicinput">翻页方式</label>
                    <div class="controls">
                      <input type="text" class="span8" id="keyWords23" placeholder="默认为空，如广东发改委网页翻页方式为&quot;index_%d.shtml&quot;" name="pageTurnType"> <span class="help-inline"></span> </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">网页结构选择</label>
                    <div class="controls">
                      <select name="pageType">
			  <option value="li">&lt;li&gt;</option>
			  <option value="td">&lt;td&gt;</option>
			</select>
                    </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">知识库类型</label>
                    <div class="controls">

                      <select name="knowledgeType">
			  <option value="1">价格执法案例库</option>
			  <option value="2">法律法规库</option>
			  <option value="3">新闻库</option>
			</select>
                        </ul>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">添加爬虫配置</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
