{% extends "base.html" %}
{% block mainbody %}
<!--/.span3-->
        <div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h2>{{title}}</h2>
                {% for content in contents %}
		<p> {{content}}</p>          
                {% endfor%}      
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
