{% extends "base1.html" %}


{% block mainbody %}
<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>结果</h3>
              </div>
              <div class="module-body">
                <br>

                <table class="table">
		    <thead>
		    <tr>
			<th class="span1">法律级别</th>
			<th>法律条例</th>
			<th>法律内容</th>
		    </tr>
		    </thead>
		    <tbody>
                    {% for contact in contacts %}
		    <tr>
                        {% for key,value in contact.items%}
			<td class="span1">{{value}}</td>
                        {% endfor %}
		    </tr>
                    {% endfor %}
		    </tbody>
		</table>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
