{% extends "base.html" %}
{% block mainbody %}
<!--/.span3-->
        <div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>价格执法案例库（现有{{Num}}项）</h3>
              </div>
              <div class="module-body">
                <table class="table table-striped">
		  <tbody>
                    {% for contact in contacts %}
		    <tr class="text-center">
		      {% if contact.isUpload == 1 %}
			<td align="center"><a href={{contact.url}}>{{contact.title}}</a></td>
		      {% endif %}
		      {% if contact.isUpload == 0 %}
			<td align="center"><a href="../CrawfileView?anli={{contact.title}}">{{contact.title}}</a></td>
		      {% endif %}
		    </tr>
                    {% endfor %}
		  </tbody>
                </table>
		<div class="ui pagination center aligned menu">  
		  {% if contacts.has_previous %}  
		  <a class="item" href="?page={{contacts.previous_page_number}}">上一页</a>  
		  {% endif %}  
		  {% for page_num in contacts.paginator.page_range %}  
		  <a class="item" href="?page={{page_num}}">  
		    {{page_num}}  
		  </a>  
		  {% endfor %}  
		  {% if contacts.has_next %}  
		  <a class="item" href="?page={{contacts.next_page_number}}">下一页</a>  
		  {% endif %}  
		</div>  

       
                
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
