{% extends "base2.html" %}

{% block headbody %}
<script type="text/javascript">

function validate_required(field,alerttxt)
{
	with (field)
	{
		if (value==null||value=="")
		{alert(alerttxt);return false}
		else {return true}
	}
}

function validate_form (thisform)
{
	with (thisform)
	{
		if (validate_required(caseText,"案例文本不能为空")==false)
		{caseText.focus();return false}
		if (validate_required(caseNum,"返回的相关案例条数")==false)
		{caseNum.focus();return false}
		if (isNaN(Number(caseNum.value)))
		{caseNum.focus();
			alert("案例条数必须为数字");return false}
	}
}
</script>
{% endblock %}


{% block mainbody %}

<div class="span9">
<div class="content">
<div class="module">
<div class="module-head">
<h3>分词结果</h3>
</div>
<div class="module-body">
<form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/participle" onsubmit="return validate_form(this)" method="post">

<div class="control-group">
<label class="control-label">分词前</label>
<div class="controls">
<p>{{jiebaText}}</p>
</div>
</div>



<div class="control-group">
<label class="control-label">分词统计信息</label>
<div class="controls">
<table class="table table-bordered table-hover table-striped">
     <thead>
     <tr>
     <th> 序号 </th>
     <th> 关键词 </th>
     <th> 词频 </th>
     </tr>
     </thead>
     <tbody>
{% for word in retlist %}
     <tr>
     <td>{{word.0}}</td>
     <td>{{word.1}}</td>
     <td>{{word.2}}</td>
     </tr>
{% endfor %}
     </tbody>
</table>

<div>
<p></p>
</div>

<div class="control-group">
<div class="controls">
<ul class="pagination">
    {% if retlist.has_previous %}
    <li><a href='../participleResultRender?page={{ retlist.previous_page_number }}'>&laquo; </a></li>
    {% endif %}
    {% for page in retlist.paginator.page_range %}
            {% ifequal page retlist.number %}
                <li class="active"><a href="#" class="active">{{ page }}</a></li>
            {% else %}
                <li><a href='../participleResultRender?page={{ page }}'>{{ page }}</a></li>
            {% endifequal %}
    {% endfor %}    
{% if retlist.has_next %}
    <li><a href='../participleResultRender?page={{ retlist.next_page_number }}'>&raquo; </a></li>
    {% endif %}
</ul> 
</div>
</div>

</div>
</div>


</div>

</form>



</div>
</div>
</div>
<!--/.content-->
</div>

{% endblock %}
