{% extends "base2.html" %}

{% block headbody %}
<script type="text/javascript">

function validate_required(field,alerttxt)
{
	with (field)
	{
		if (value==null||value=="")
		{alert(alerttxt);return false}
		else {return true}
	}
}

function validate_form (thisform)
{
	with (thisform)
	{
		if (validate_required(caseText,"案例文本不能为空")==false)
		{caseText.focus();return false}
		if (validate_required(caseNum,"返回的相关案例条数")==false)
		{caseNum.focus();return false}
		if (isNaN(Number(caseNum.value)))
		{caseNum.focus();
			alert("案例条数必须为数字");return false}
	}
}
</script>
{% endblock %}


{% block mainbody %}

<div class="span9">
<div class="content">
<div class="module">
<div class="module-head">
<h3>分词效果展示</h3>
</div>
<div class="module-body">
<form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/participle" onsubmit="return validate_form(this)" method="post">
<div class="control-group"> <label class="control-label" for="basicinput" >分词文本</label>
<div class="controls">
<textarea  rows="20" class="span8" name="jiebaText"></textarea></div>
</div>


<div class="control-group">
<label class="control-label">词库选择</label>
<div class="controls">
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >使用专业词库
</label>



<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="">默认
</label>

</div>

<div class="control-group">
<div class="controls">
<button type="submit" class="btn">开始分词</button>
</div>
</div>
</form>



</div>
</div>
</div>
<!--/.content-->
</div>

{% endblock %}
