{% extends "base.html" %}


{% block mainbody %}
<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>自动构建价格执法知识库</h3>
              </div>
              <div class="module-body">
                <br>
		<blockquote>
		  <p>备注：状态栏表示当前爬虫的状态，0表示进行中，1表示已完成，-1表示爬虫出错</p>
		</blockquote>
                <table class="table table-striped">
		    <thead>
		    <tr>
			<th>id</th>
			<th>关键词</th>
			<th>根链接</th>
			<th>状态</th>
                        <th>创建日期</th>
                        <th>爬取到的页面数</th>
		    </tr>
		    </thead>
		    <tbody>
                    {% for job in jobs %}
		    <tr>
			<td>{{ job.id }}</td>
			<td>{{ job.keyword }} </td>
			<td>{{ job.url }} </td>
			<td>{{ job.status }}</td>
			<td>{{ job.date }}</td>
			<td>{{ job.num_case }}</td>
		    </tr>
                    {% endfor %}
		    </tbody>
		</table>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
