{% extends "base.html" %}


{% block mainbody %}
<form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/batchCraw" onsubmit="return validate_form(this)    " method="post">
<div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>自动构建价格执法知识库配置</h3>
              </div>
              <div class="module-body">
                <br>
                <table class="table"  >
		    <thead>
                    <tr style="height:0;">
                    <th style="width:5%"></th>
                     <th style="width:30%"></th>
                     <th style="width:15%"></th>
                     <th style="width:10%"></th>
                     <th style="width:10%"></th>
                     <th style="width:10%"></th>
                     <th style="width:10%"></th>
                    </tr>
		    <tr>
                        <th><input type="checkbox" name="checkAll" id="checkAll"/></th>
			<th align="center">网址</th>
                        <th align="center">关键词</th>
                        <th align="center">class属性</th>
                        <th align="center">id属性</th>
                        <th align="center">翻页方式</th>
                        <th align="center">网页结构</th>
                        <th align="center">知识库</th>
		    </tr>
		    </thead>
		    <tbody>
                    {% for task in tasks %}
		    <tr>
                        <td><input type="checkbox" name="checkbox" value="{{task.id}}"/></td>
			<td title="{{task.url}}">{{ task.url }}</td>
			<td>{{ task.keyword1 }} </td>
			<td>{{ task.classAttribute }}</td>
			<td>{{ task.idAttribute }}</td>
                        <td>{{ task.pageTurning }}</td>
                        <td>{{ task.pageStruct }}</td>
                        <td>{{ task.knowledgeType }}</td>
		    </tr>
                    {% endfor %}
		    </tbody>
		</table>
              </div>

<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn-primary">开始爬取</button>
</div>
</div>

<div class="control-group">
<div class="controls">
<p>   <p>
</div>
</div>

</form>
    
            </div>
          </div>
          <!--/.content-->
        </div>

<script type="text/javascript">
    $(function () {
            function initTableCheckbox() {
                var $thr = $('table thead tr');
                var $checkAllTh = $('<th><input type="checkbox" id="checkAll" name="checkAll" /></th>');
                /*将全选/反选复选框添加到表头最前，即增加一列*/
                //$thr.prepend($checkAllTh);
                /*“全选/反选”复选框*/
                var $checkAll = $thr.find('input');
                $checkAll.click(function (event) {
                    /*将所有行的选中状态设成全选框的选中状态*/
                    $tbr.find('input').prop('checked', $(this).prop('checked'));
                    /*并调整所有选中行的CSS样式*/
                    if ($(this).prop('checked')) {
                        $tbr.find('input').parent().parent().addClass('warning');
                    } else {
                        $tbr.find('input').parent().parent().removeClass('warning');
                    }
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击全选框所在单元格时也触发全选框的点击操作*/
                $checkAllTh.click(function () {
                    $(this).find('input').click();
                });
                var $tbr = $('table tbody tr');
                var $checkItemTd = $('<td><input type="checkbox" name="checkbox"/></td>');
                /*每一行都在最前面插入一个选中复选框的单元格*/
                //$tbr.prepend($checkItemTd);
                /*点击每一行的选中复选框时*/
                $tbr.find('input').click(function (event) {
                    /*调整选中行的CSS样式*/
                    $(this).parent().parent().toggleClass('warning');
                    /*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
                    $checkAll.prop('checked', $tbr.find('input:checked').length == $tbr.length ? true : false);
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击每一行时也触发该行的选中操作*/
                $tbr.click(function () {
                    $(this).find('input').click();
                });
            }

            initTableCheckbox();
        });
</script>



{% endblock %}
