{% extends "base.html" %}
{% block mainbody %}
<!--/.span3-->
        <div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h2>广东省发展和改革委员会行政处罚决定书 粤发改价监处〔2018〕2号</h2>
                {% for content in contents %}
		<p> {{content}}</p>          
                {% endfor%}      
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
