{% extends "base.html" %}

{% block mainbody %}
<!--/.span3-->
        <div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>案例文件添加</h3>
              </div>
              <div class="module-body">
                <br>
                <form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/upload_file/" method="post">
                  <div class="control-group"> <label class="control-label" for="basicinput">案例名称</label>
                    <div class="controls">
                      <input type="text" id="basicinput" placeholder="不能为空" class="span8" name="anliName"> <span class="help-inline"></span> </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">案例文件</label>
                    <div class="controls">
                      <input type="file" id="anli" style="display:none" name="anli">
                      <div class="input-append">
                        <input id="photoCover" class="input-large" type="text" placeholder="word文档" style="height:20px;">
                        <a class="btn" onclick="$('input[id=anli]').click();">Browse</a> <span class="help-inline"></span> </div>
                      <script type="text/javascript">
                        $('input[id=anli]').change(function() {  
                        $('#photoCover').val($(this).val());  
                        });
                      </script>
                    </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">附件1</label>
                    <div class="controls">
                      <input type="file" id="fujian1" style="display:none" name="fujian1">
                      <div class="input-append">
                        <input id="photoCover1" class="input-large" type="text" placeholder="图片、音频或视频" style="height:20px;">
                        <a class="btn" onclick="$('input[id=fujian1]').click();">Browse</a> <span class="help-inline"></span> </div>
                      <script type="text/javascript">
                        $('input[id=fujian1]').change(function() {  
                        $('#photoCover1').val($(this).val());  
                        });
                      </script>
                    </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">附件2</label>
                    <div class="controls">
                      <input type="file" id="fujian2" style="display:none" name="fujian2">
                      <div class="input-append">
                        <input id="photoCover2" class="input-large" type="text" placeholder="图片、音频或视频" style="height:20px;">
                        <a class="btn" onclick="$('input[id=fujian2]').click();">Browse</a> <span class="help-inline"></span> </div>
                      <script type="text/javascript">
                        $('input[id=fujian2]').change(function() {  
                        $('#photoCover2').val($(this).val());  
                        });
                      </script>
                    </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">附件3</label>
                    <div class="controls">
                      <input type="file" id="fujian3" style="display:none" name="fujian3">
                      <div class="input-append">
                        <input id="photoCover3" class="input-large" type="text" placeholder="图片、音频或视频" style="height:20px;">
                        <a class="btn" onclick="$('input[id=fujian3]').click();">Browse</a> <span class="help-inline"></span> </div>
                      <script type="text/javascript">
                        $('input[id=fujian3]').change(function() {  
                        $('#photoCover3').val($(this).val());  
                        });
                      </script>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">开始上传</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
