{% extends "base.html" %}

{% block mainbody %}
<!--/.span3-->
        <div class="span9">
          <div class="content">
            <div class="module">
              <div class="module-head">
                <h3>案例文件添加</h3>
              </div>
              <div class="module-body">
                <br>
                <form class="form-horizontal row-fluid" enctype="multipart/form-data" action="/addLawFile" method="post">
                  <div class="control-group"> <label class="control-label" for="basicinput">法律文件级别</label>
                    <div class="controls">
                      <select name="lawType">
			  <option value="0">国家级</option>
			  <option value="1">省级</option>
			</select>
                    </div>
                  </div>
                  <div class="control-group"> <label class="control-label" for="basicinput">法律法规文件</label>
                    <div class="controls">
                      <input type="file" id="law" style="display:none" name="law">
                      <div class="input-append">
                        <input id="photoCover1" class="input-large" type="text" placeholder="word文档(*.docx)" style="height:20px;">
                        <a class="btn" onclick="$('input[id=law]').click();">Browse</a> <span class="help-inline"></span> </div>
                      <script type="text/javascript">
                        $('input[id=law]').change(function() {  
                        $('#photoCover1').val($(this).val());  
                        });
                      </script>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">开始上传</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--/.content-->
        </div>
{% endblock %}
